---
const { title, subtitle, grade, tech, badge, badge_link} = Astro.props;
---

<div class="flex">
  <div class="education__time">
    <span class="w-4 h-4 bg-primary block rounded-full mt-1"></span>
    <span
      class="education__line bg-primary block h-full w-[2px] translate-x-[7px]"
    ></span>
  </div>
  <div class="experience__data bd-grid px-5">
    <h3 class="font-semibold mb-1">{title}</h3>
    <span class="font-light text-sm"><b>When and Where: </b>{subtitle}</span>
      {
        grade && (
          <p class="my-1 text-justify">
          </p>
          <span class="font-light text-sm">
            <b>Grade:</b> {grade}
          </span>
        )
      }
      {
        tech && (
          <p class="my-1 text-justify">
          </p>
          <span class="font-light text-sm">
            <b>Main Technologies:</b> {tech}
          </span>
        )
      }
      {
        badge && (
        <p class="my-1 text-justify">
          </p>
        <a class="badge badge-secondary mx-2 ml-0 my-1" href={badge_link}>
            {badge}
        </a>
      )
      }
      <p class="my-2 text-justify max-w-prose pb-1">
        <slot />
      </p>
    
  </div>
</div>
