---
const { title, img, abstract, authors, published_at, url, badge, tags, year, language, target = "_blank" } = Astro.props;
import { Image } from "astro:assets";
//const tag_url = url.split("/").slice(0, -1).join("/") + "/tag";
// {`${tag_url}/${tag}`} <a> instead of <span>
---

<div
  class="rounded-lg bg-base-100 transition ease-in-out"
>
  <div class="hero-content flex-col md:flex-row">
    <div class="grow w-full">
      <h1 class="text-xl font-bold">
        {title}
        {badge && <div class="badge badge-secondary mx-2 flex justify-between ml-0 my-1">{badge}</div>}
      </h1>
      <span class="font-light text-sm">
        {authors}
      </span>
      <p class="py-1 text-1xl">{abstract}</p>
      <span class="font-light text-sm">
        <b>Published in </b>{published_at}
      </span>
      <p class="text-justify"></p>
      <span class="font-light text-sm">
        <b>Year: </b>{year}
      </span>
      {language &&
      <p class="text-justify"></p>
      <span class="font-light text-sm">
        <b>Language: </b>{language}
      </span>}
      
      <div class="card-actions justify-end">
        {
          tags &&
            tags.map((tag) => (
              <span class="badge badge-outline">
                {tag}
              </span>
            ))
        }
      </div>
    </div>
  </div>
  <a href={url} target={target} class="btn mx-3 mb-4 bg-primary">Check it Out!</a>
</div>
